body {
  margin:0;
  font-family: 'Nunito Variable', sans-serif;
}

.djs-palette.two-column.open {
	width: 94px;
	top: 5em;
	border: none;
	border-radius: 8px;
	color: pink;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	cursor: pointer;
}